<div class="pagination-wrap">
    <ul class="pagination">
        <a href="#" class="pagination__prev">
            <svg width="21" height="9">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-pagination-left"></use>
            </svg>
            Назад
        </a>
        <li class="pagination__el">
            <a href="#" class="pagination__el-link">1</a>
        </li>
        <li class="pagination__el">
            <a href="#" class="pagination__el-link pagination__el-link--active">2</a>
        </li>
        <li class="pagination__el  active">
            <a href="#" class="pagination__el-link">3</a>
        </li>
        <li class="pagination__el">
            <a href="#" class="pagination__el-link">4</a>
        </li>
        <li class="pagination__el">
            <a href="#" class="pagination__el-link">5</a>
        </li>
        <li class="pagination__el">
            <a href="#" class="pagination__el-link">6</a>
        </li>
        <li class="pagination__el">
            <a href="#" class="pagination__el-link">7</a>
        </li>
        <li class="pagination__el">
            <span class="pagination__el-link pagination__el-link--dots">&hellip;</span>
        </li>
        <li class="pagination__el">
            <a href="#" class="pagination__el-link">10</a>
        </li>
        <a href="#" class="pagination__next">
            вперед
            <svg width="21" height="9">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-pagination-right"></use>
            </svg>
        </a>
    </ul>
</div>