<div class="sales-slider">
    <div class="container sales-slider__container">
        <div class="swiper-container sales-slider__swiper-container js_sales-slider__swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/temp/promo-slider.jpg" width="1047" height="444" alt="">

                    <!-- возьмет html для боковой панели из содержимого этого блока -->
                    <div class="sales-slider__hide-info" style="display: none;">
                        Лучшее предложение этом месяце для вас от компании <span
                            style="font-weight: 400; color: #8C249F">КОСМО</span> 1
                        <div class="sales-slider__footer">
                            <a href="#" class="sales-slider__footer-lnk">
                                Узнать больше
                                <svg width="21" height="9">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/temp/promo-slider-2.jpg" width="1047" height="444" alt="">
                    <div class="sales-slider__hide-info" style="display: none;">
                        Лучшее предложение этом месяце для вас от компании <span
                            style="font-weight: 400; color: #8C249F">КОСМО</span> 2
                        <div class="sales-slider__footer">
                            <a href="#" class="sales-slider__footer-lnk">
                                Узнать больше
                                <svg width="21" height="9">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/temp/promo-slider.jpg" width="1047" height="444" alt="">
                    <div class="sales-slider__hide-info" style="display: none;">
                        Лучшее предложение этом месяце для вас от компании <span
                            style="font-weight: 400; color: #8C249F">КОСМО</span> 3
                        <div class="sales-slider__footer">
                            <a href="#" class="sales-slider__footer-lnk">
                                Узнать больше
                                <svg width="21" height="9">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sales-slider__info">
            <div class="sales-slider__info-header">
                <div class="sales-slider__btns">
                    <div class="sales-slider__prev">
                        <svg width="22" height="22">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow-angle-left"></use>
                        </svg>
                    </div>
                    <div class="sales-slider__next">
                        <svg width="22" height="22">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow-angle-right"></use>
                        </svg>
                    </div>
                </div>

                <a href="#" class="sales-slider__info-header-lnk">Смотреть все акции</a>
            </div>

            <div class="sales-slider__info-content"></div>
        </div>
    </div>
</div>