<div class="suggestions">
    <div class="container">
        <h2 class="suggestions__title">Предложения <span>только для ВАС</span></h2>

        <div class="preloader-wrap js_mobile-scroll-slider mobile-scroll-slider">
            <div class="suggestions__inner mobile-scroll-slider-wrapper">
                <div class="mobile-scroll-slider-item products-item">
                    <a href="#" class="products-item__img-wrap">
                        <div class="products-item__labels">
                            <div class="products-item__label products-item__label--sale">-20%</div>
                            <div class="products-item__label products-item__label--new">new</div>
                            <div class="products-item__label--add">
                                <svg width="44" height="25">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-label-add"></use>
                                </svg>
                            </div>
                        </div>
                        <!-- 290px x 226px -->
                        <img src="assets/images/temp/product.jpg" width="290" height="226" class="products-item__img"
                             alt="">
                    </a>
                    <div class="products-item__title-wrap">
                        <a href="#" class="products-item__title">Real Skin</a>
                        <a href="#" class="products-item__options">15 вариантов</a>
                    </div>
                    <div class="products-item__description">
                        Бальзам Sun Care Family для приема после душа загара, можете нанести сразу три этапа. 250 мл.
                    </div>
                    <div class="products-item__reviews">
                        <div class="products-item__stars">
                            <img src="assets/images/temp/stars.png" alt="">
                        </div>
                        <a href="#" class="products-item__reviews-lnk">2 отзыва</a>
                    </div>
                    <div class="products-item__price-wrap">
                        <div class="products-item__price">23,90<span> руб</span></div>
                        <div class="products-item__old-price">23,90<span> руб</span></div>
                    </div>
                    <div class="products-item__btns">
                        <a href="#" class="btn btn--transparent products-item__add">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-basket"></use>
                            </svg>
                            В корзину
                        </a>
                        <a href="#" class="btn btn--transparent products-item__wishlist">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-heart"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="mobile-scroll-slider-item products-item">
                    <a href="#" class="products-item__img-wrap">
                        <div class="products-item__labels">
                            <div class="products-item__label products-item__label--sale">-50%</div>
                        </div>
                        <img src="assets/images/temp/product-2.jpg" width="290" height="226" class="products-item__img"
                             alt="">
                    </a>
                    <div class="products-item__title-wrap">
                        <a href="#" class="products-item__title">Krygina</a>
                        <a href="#" class="products-item__options">2 варианта</a>
                    </div>
                    <div class="products-item__description">
                        Маска карбонатная, глиняная для очистки от черных точек, 500 мл.
                    </div>
                    <div class="products-item__reviews">
                        <div class="products-item__stars">
                            <img src="assets/images/temp/stars.png" alt="">
                        </div>
                        <a href="#" class="products-item__reviews-lnk">0 отзывов</a>
                    </div>
                    <div class="products-item__price-wrap">
                        <div class="products-item__price">4,90<span> руб</span></div>
                    </div>
                    <div class="products-item__btns">
                        <a href="#" class="btn btn--transparent products-item__add">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-basket"></use>
                            </svg>
                            В корзину
                        </a>
                        <a href="#" class="btn btn--transparent products-item__wishlist">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-heart"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="mobile-scroll-slider-item products-item">
                    <a href="#" class="products-item__img-wrap">
                        <div class="products-item__labels">
                            <div class="products-item__label products-item__label--new">new</div>
                        </div>
                        <img src="assets/images/temp/product-3.jpg" width="290" height="226" class="products-item__img"
                             alt="">
                    </a>
                    <div class="products-item__title-wrap">
                        <a href="#" class="products-item__title">Elizavecca</a>
                        <a href="#" class="products-item__options">22 варианта</a>
                    </div>
                    <div class="products-item__description">
                        Бальзам Sun Care Family после душа загара, можете нанести сразу три этапа. 250 мл. 250 мл.
                    </div>
                    <div class="products-item__reviews">
                        <div class="products-item__stars">
                            <img src="assets/images/temp/stars.png" alt="">
                        </div>
                        <a href="#" class="products-item__reviews-lnk">3 отзыва</a>
                    </div>
                    <div class="products-item__price-wrap">
                        <div class="products-item__price">44,00<span> руб</span></div>
                        <div class="products-item__old-price">52,80<span> руб</span></div>
                    </div>
                    <div class="products-item__btns">
                        <a href="#" class="btn btn--transparent products-item__add">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-basket"></use>
                            </svg>
                            В корзину
                        </a>
                        <a href="#" class="btn btn--transparent products-item__wishlist products-item__wishlist--active">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-heart"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="mobile-scroll-slider-item products-item">
                    <a href="#" class="products-item__img-wrap">
                        <div class="products-item__labels"></div>
                        <img src="assets/images/temp/product.jpg" width="290" height="226" class="products-item__img"
                             alt="">
                    </a>
                    <div class="products-item__title-wrap">
                        <a href="#" class="products-item__title">Очень длинное название</a>
                        <a href="#" class="products-item__options">33 варианта</a>
                    </div>
                    <div class="products-item__description">
                        Маска карбонатная, глиняная для очистки от черных точек, 500 мл.
                    </div>
                    <div class="products-item__reviews">
                        <div class="products-item__stars">
                            <img src="assets/images/temp/stars.png" alt="">
                        </div>
                        <a href="#" class="products-item__reviews-lnk">75 отзывов</a>
                    </div>
                    <div class="products-item__price-wrap">
                        <div class="products-item__price">54,90<span> руб</span></div>
                    </div>
                    <div class="products-item__btns">
                        <a href="#" class="btn btn--transparent products-item__add">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-basket"></use>
                            </svg>
                            В корзину
                        </a>
                        <a href="#" class="btn btn--transparent products-item__wishlist">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-heart"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="mobile-scroll-slider-item products-item">
                    <a href="#" class="products-item__img-wrap">
                        <div class="products-item__labels">
                            <div class="products-item__label products-item__label--sale">-20%</div>
                            <div class="products-item__label products-item__label--new">new</div>
                            <div class="products-item__label--add">
                                <svg width="44" height="25">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-label-add"></use>
                                </svg>
                            </div>
                        </div>
                        <!-- 290px x 226px -->
                        <img src="assets/images/temp/product.jpg" width="290" height="226" class="products-item__img"
                             alt="">
                    </a>
                    <div class="products-item__title-wrap">
                        <a href="#" class="products-item__title">Real Skin</a>
                        <a href="#" class="products-item__options">15 вариантов</a>
                    </div>
                    <div class="products-item__description">
                        Бальзам Sun Care Family для приема после душа загара, можете нанести сразу три этапа. 250 мл.
                    </div>
                    <div class="products-item__reviews">
                        <div class="products-item__stars">
                            <img src="assets/images/temp/stars.png" alt="">
                        </div>
                        <a href="#" class="products-item__reviews-lnk">2 отзыва</a>
                    </div>
                    <div class="products-item__price-wrap">
                        <div class="products-item__price">23,90<span> руб</span></div>
                        <div class="products-item__old-price">23,90<span> руб</span></div>
                    </div>
                    <div class="products-item__btns">
                        <a href="#" class="btn btn--transparent products-item__add">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-basket"></use>
                            </svg>
                            В корзину
                        </a>
                        <a href="#" class="btn btn--transparent products-item__wishlist">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-heart"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="mobile-scroll-slider-item products-item">
                    <a href="#" class="products-item__img-wrap">
                        <div class="products-item__labels">
                            <div class="products-item__label products-item__label--sale">-50%</div>
                        </div>
                        <img src="assets/images/temp/product-2.jpg" width="290" height="226" class="products-item__img"
                             alt="">
                    </a>
                    <div class="products-item__title-wrap">
                        <a href="#" class="products-item__title">Krygina</a>
                        <a href="#" class="products-item__options">2 варианта</a>
                    </div>
                    <div class="products-item__description">
                        Маска карбонатная, глиняная для очистки от черных точек, 500 мл.
                    </div>
                    <div class="products-item__reviews">
                        <div class="products-item__stars">
                            <img src="assets/images/temp/stars.png" alt="">
                        </div>
                        <a href="#" class="products-item__reviews-lnk">0 отзывов</a>
                    </div>
                    <div class="products-item__price-wrap">
                        <div class="products-item__price">4,90<span> руб</span></div>
                    </div>
                    <div class="products-item__btns">
                        <a href="#" class="btn btn--transparent products-item__add">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-basket"></use>
                            </svg>
                            В корзину
                        </a>
                        <a href="#" class="btn btn--transparent products-item__wishlist">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-heart"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="mobile-scroll-slider-item products-item">
                    <a href="#" class="products-item__img-wrap">
                        <div class="products-item__labels">
                            <div class="products-item__label products-item__label--new">new</div>
                        </div>
                        <img src="assets/images/temp/product-3.jpg" width="290" height="226" class="products-item__img"
                             alt="">
                    </a>
                    <div class="products-item__title-wrap">
                        <a href="#" class="products-item__title">Elizavecca</a>
                        <a href="#" class="products-item__options">22 варианта</a>
                    </div>
                    <div class="products-item__description">
                        Бальзам Sun Care Family после душа загара, можете нанести сразу три этапа. 250 мл. 250 мл.
                    </div>
                    <div class="products-item__reviews">
                        <div class="products-item__stars">
                            <img src="assets/images/temp/stars.png" alt="">
                        </div>
                        <a href="#" class="products-item__reviews-lnk">3 отзыва</a>
                    </div>
                    <div class="products-item__price-wrap">
                        <div class="products-item__price">44,00<span> руб</span></div>
                        <div class="products-item__old-price">52,80<span> руб</span></div>
                    </div>
                    <div class="products-item__btns">
                        <a href="#" class="btn btn--transparent products-item__add">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-basket"></use>
                            </svg>
                            В корзину
                        </a>
                        <a href="#" class="btn btn--transparent products-item__wishlist">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-heart"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="mobile-scroll-slider-item products-item">
                    <a href="#" class="products-item__img-wrap">
                        <div class="products-item__labels"></div>
                        <img src="assets/images/temp/product.jpg" width="290" height="226" class="products-item__img"
                             alt="">
                    </a>
                    <div class="products-item__title-wrap">
                        <a href="#" class="products-item__title">Очень длинное название</a>
                        <a href="#" class="products-item__options">33 варианта</a>
                    </div>
                    <div class="products-item__description">
                        Маска карбонатная, глиняная для очистки от черных точек, 500 мл.
                    </div>
                    <div class="products-item__reviews">
                        <div class="products-item__stars">
                            <img src="assets/images/temp/stars.png" alt="">
                        </div>
                        <a href="#" class="products-item__reviews-lnk">75 отзывов</a>
                    </div>
                    <div class="products-item__price-wrap">
                        <div class="products-item__price">54,90<span> руб</span></div>
                    </div>
                    <div class="products-item__btns">
                        <a href="#" class="btn btn--transparent products-item__add">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-basket"></use>
                            </svg>
                            В корзину
                        </a>
                        <a href="#" class="btn btn--transparent products-item__wishlist">
                            <svg width="25" height="25">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-heart"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="swiper-scrollbar mobile-scroll-slider__scrollbar"></div>

            <div class="preloader" style="display: none;">
                <svg width="64" height="64">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-preloader"></use>
                </svg>
            </div>
        </div>


        <div class="button-more-wrap">
            <!-- MainJs.suggestionMore -->
            <div class="button-more__btn js_suggestions__btn">
                Показать больше
                <svg width="9" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow-down"></use>
                </svg>
            </div>
        </div>
    </div>
</div>