<div class="triple-banner triple-banner--home">
    <div class="container">
        <div class="triple-banner__inner">
            <a href="#" class="triple-banner__item bordered-inner">
                <img src="assets/images/temp/short-banner-1.jpg" alt="" width="360" height="254">
            </a>
            <a href="#" class="triple-banner__item bordered-inner triple-banner--wide">
                <img src="assets/images/temp/long-banner.jpg" alt="" width="640" height="254">
            </a>
            <a href="#" class="triple-banner__item bordered-inner">
                <img src="assets/images/temp/short-banner-2.jpg" alt="" width="360" height="254">
            </a>
        </div>
    </div>
</div>