<div class="about-us about-us__home">
    <div class="container">
        <div class="about-us__inner">
            <div class="about-us__img">
                <img src="assets/images/about-us.jpg" width="720" height="486" alt="">
            </div>
            <div class="about-us__info">
                <div class="about-us__title">О компании <span>КОСМО</span></div>

                <p>
                    <b>Красота - это результат работы над собой.</b> И здесь без применения декоративной и лечебной косметики
                    не обойтись. Лучший выбор в РБ в этом сегменте предоставляет магазин косметики и парфюмерии КОСМО. И
                    приятно то, что выбрать нужное средство для лица или для тела можно, не тратя время на поиски
                    необходимого по разным торговым.
                </p>
                
                <div class="about-us__footer">
                    <a href="#" class="about-us__footer-lnk">
                        Узнать больше
                        <svg width="21" height="9">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>