<div class="advantages">
    <div class="container advantages__inner">
        <div class="advantages__item">
            <div class="advantages__img">
                <img src="assets/images/advantages/diamond.png" alt="">
            </div>
            <div class="advantages__info">Эксклюзивные <br> бренды</div>
        </div>
        <div class="advantages__item">
            <div class="advantages__img">
                <img src="assets/images/advantages/box.png" alt="">
            </div>
            <div class="advantages__info">Бесплатная <br> доставка</div>
        </div>
        <div class="advantages__item">
            <div class="advantages__img">
                <img src="assets/images/advantages/gift.png" alt="">
            </div>
            <div class="advantages__info">Подарки за <br> покупку</div>
        </div>
        <div class="advantages__item">
            <div class="advantages__img">
                <img src="assets/images/advantages/card.png" alt="">
            </div>
            <div class="advantages__info">Программа <br> лояльности</div>
        </div>
        <div class="advantages__item">
            <div class="advantages__img">
                <img src="assets/images/advantages/sale.png" alt="">
            </div>
            <div class="advantages__info">Скидки и акции</div>
        </div>
    </div>
</div>