<div class="aside">
    <div class="aside-nav-wrap js_aside-nav-wrap">
        <nav class="aside-nav js_aside-nav">
            <div class="aside-nav__title js_aside-nav__title">О КОМПАНИИ</div>
            <ul class="aside-nav__inner js_aside-nav__inner">
                <li class="aside-nav__list">
                    <a href="#" class="aside-nav__lnk aside-nav__lnk--active">Магазины</a>
                </li>
                <li class="aside-nav__list">
                    <a href="#" class="aside-nav__lnk">О нас</a>
                </li>
                <li class="aside-nav__list">
                    <a href="#" class="aside-nav__lnk">Партнерам</a>
                </li>
                <li class="aside-nav__list">
                    <a href="#" class="aside-nav__lnk">Вакансии</a>
                </li>
                <li class="aside-nav__list">
                    <a href="#" class="aside-nav__lnk">Новости</a>
                </li>
                <li class="aside-nav__list">
                    <a href="#" class="aside-nav__lnk">Контакты</a>
                </li>
            </ul>
        </nav>

        <nav class="aside-nav js_aside-nav">
            <div class="aside-nav__title js_aside-nav__title">Покупателю</div>
            <ul class="aside-nav__inner js_aside-nav__inner">
                <li class="aside-nav__list">
                    <a href="#" class="aside-nav__lnk">Помощь покупателю</a>
                </li>
                <li class="aside-nav__list">
                    <a href="#" class="aside-nav__lnk">Доставка</a>
                </li>
                <li class="aside-nav__list">
                    <a href="#" class="aside-nav__lnk">Способы оплаты</a>
                </li>
                <li class="aside-nav__list">
                    <a href="#" class="aside-nav__lnk">Обмен и возврат</a>
                </li>
                <li class="aside-nav__list">
                    <a href="#" class="aside-nav__lnk">Публичная оферта</a>
                </li>
            </ul>
        </nav>
    </div>
</div>