<div class="js_full-width-slider full-width-slider swiper-container swiper-container-no-flexbox">
    <div class="full-width-slider__wrapper swiper-wrapper">
        <a href="#" class="full-width-slider__lnk swiper-slide">
            <img src="" alt=""
                 data-desktop-src="assets/images/temp/main-slider.jpg"
                 data-mobile-src="assets/images/temp/main-slider-mobile.jpg"
                 class="full-width-slider__img">
        </a>
        <a href="#" class="full-width-slider__lnk swiper-slide">
            <img src="" alt=""
                 data-desktop-src="assets/images/temp/main-slider.jpg"
                 data-mobile-src="assets/images/temp/main-slider-mobile.jpg"
                 class="full-width-slider__img">
        </a>
        <a href="#" class="full-width-slider__lnk swiper-slide">
            <img src="" alt=""
                 data-desktop-src="assets/images/temp/main-slider.jpg"
                 data-mobile-src="assets/images/temp/main-slider-mobile.jpg"
                 class="full-width-slider__img">
        </a>
        <a href="#" class="full-width-slider__lnk swiper-slide">
            <img src="" alt=""
                 data-desktop-src="assets/images/temp/main-slider.jpg"
                 data-mobile-src="assets/images/temp/main-slider-mobile.jpg"
                 class="full-width-slider__img">
        </a>
        <a href="#" class="full-width-slider__lnk swiper-slide">
            <img src="" alt=""
                 data-desktop-src="assets/images/temp/main-slider.jpg"
                 data-mobile-src="assets/images/temp/main-slider-mobile.jpg"
                 class="full-width-slider__img">
        </a>
    </div>

    <div class="full-width-slider__pagination swiper-pagination"></div>

    <div class="full-width-slider__prev swiper-button-prev"></div>
    <div class="full-width-slider__next swiper-button-next"></div>
</div>