<div class="tabs-sliders tabs-wrap js_tabs-wrap">
    <div class="tabs">
        <span data-id="bestsellers" class="tab js_tab active">Бестселлеры</span>
        <span data-id="news" class="tab js_tab">Новинки</span>
        <span data-id="only-cosmo" class="tab js_tab">Только в космо</span>
    </div>

    <div class="panels">
        <div data-id="bestsellers" class="panel js_panel active">
            <div class="tabs-sliders__mobile-title">Бестселлеры</div>
            //= scrollbar-slider.html
        </div>
        <div data-id="news" class="panel js_panel">
            <div class="tabs-sliders__mobile-title">Новинки</div>
            //= scrollbar-slider.html
        </div>
        <div data-id="only-cosmo" class="panel js_panel">
            <div class="tabs-sliders__mobile-title">Только в космо</div>
            //= scrollbar-slider.html
        </div>
    </div>
</div>