.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: #fff;;
    background-color: #D01C60;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.bx-rating {
    color: #f6ac3c;
    font-size: 16px;
    white-space: nowrap;
}

.bx-rating i.fa {
    cursor: pointer;
    margin-right: 6px;
}

.fa.bx-star-active {
    color: #f6ac3c;
}

.fa-star-o {
    color: #9fa7a7;

}

.bx-rating .fa-star-o {
    color: #9fa7a7;
}

.bx-rating i.reviews-prod {
    cursor: auto;
    margin-right: 1px !important;
}

.bx-rating .bx-star-active {
    color: #f6ac3c;
}

.active_btn_basket {
    background: #D01C60;
    color: #fff;
}

.active_btn_basket svg {
    fill: #fff;
}

.basket-discount__item-input.full {
    width: 57.5%;
}

.error_count_product {
    color: red;
}

.container.text {
    color: rgb(26, 26, 26);
    font-family: "Gotham Pro", sans-serif;
    font-size: 10px;
    font-weight: 300;
    height: auto;
    padding-bottom: 10px;
}

.ajax-message.active {
    background: #E6276F;
    color: white;
    padding: 10px;
    text-align: center;
}

.pl30 {
    padding-left: 30px;
}

@media (max-width: 1023px) {
    .header__middle-logo {
        left: 45%;
    }

    .hide-mobile {
        display: none !important;
    }
}

.category-filter__item,
.category-filter__order-place,
.category-filter__title,
.category-filter__sort-title {
    font-size: 13px;
}

.view-a {
    position: relative;
    z-index: 999;
}

.vacancies__item p {
    line-height: 0;
}

.footer__soc-item--tw {
    background: url(/local/templates/kocmo/imposition/build/assets/css/../images/sprite.png) no-repeat -77px -6px;
    width: 25px;
    height: 25px;
}

.category-filter__item-title {
    padding: 10px 7px;
}

.bx-calendar-range .disabled {
    pointer-events: none;
}

.preorder {
    height: 57px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
}

@media (max-width: 1023px) {
    .preorder {
        font-size: 0.875rem;
        height: 35px;
    }
}

.nav-dropdown__brands-lnk {
    font-size: 14px;
}
@media (max-width: 1440px){
    body .basket-discount__item-input {
        width: 177px;
    }
}